body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #1e1e1e;
  color: white;
  font-size: 16px; 
}

.container {
  text-align: center;
  font-size: 1.1em; 
}

.fixed-header {
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  padding: 10px;
  z-index: 1000;
}


.employee-input {
  margin-bottom: 10px;

}

.employee-input input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  background-color: #141414;
  color: white;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1.1em; 
}

th, td {
  padding: 12px; 

}

#button {
  margin: 12px; 
  padding: 12px; 
  font-size: 1.1em; 
  background-color: #141414b6;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.7s;
}

#button:hover {
  background-color: #333;
  color: white;
}

input{
  color: white;
}

input[type="time"] {
  font-size: 1.1em; 
  border-radius: 9px;
  background-color: #141414;
}

input[type="date"] {
  font-size: 1.1em; 
  border-radius: 9px;
  background-color: #141414;
  
}
